form{
    background-color: #eeffcd;
    width: 480px;


}
input[type=text],input[type=email],select{
    width: 70%;
    margin-left: 40px;
    height: 40px;


}
textarea{
    width: 70%;
    margin-left: 40px;
}
button{
    background-color: rgba(0, 255, 255, 0.84);
    margin-left: 180px;
    border-radius: 20px;
    width: 90px;
    height: 40px;
}
legend{
    font-size:40px ;
    text-align: center;
}
h3{
    margin-left: 30px;
}



